/* Compact QC */
/*#modal-bg.qc-modal.float.top:not(:hover) > div {background: transparent; box-shadow: none;}
#modal-bg.qc-modal.float.top:not(:hover) .quick-command-container .quick-commands {opacity: 0;}
#modal-bg.qc-modal.float.top:not(:hover) .qc-entry input {font-weight: 500; color: yellow; text-shadow: 0 0 6px black; background: linear-gradient(45deg, #0000001A, transparent 80%);}
#modal-bg.qc-modal.float.top > div {transition: background .4s !important;}
.quick-command-container .quick-commands {transition: opacity .74s !important;}
/* expand width */
.quick-command-container, .quick-command-container .quick-commands > div {min-width: 86vw; cursor: auto;}
.quick-command-container .quick-commands > div > div {max-width: 100% !important;}
.quick-command-container .quick-command {cursor: pointer;}
